
<div class="container">
  <h1> Celebrities </h1>
</div>

<div class="container">
  <div class="cards">
  <% @celebrities.each do |celebrity| %>
    <%= render 'shared/celebrity_card', celebrity: celebrity %>
  <% end %>
  </div>
</div>
