<div class = "container">
  <h1 class = "h1-style"> Available Celebrities </h1>
    <div class="cards">
      <% @celebrities.each do |celebrity| %>
      <%= render 'shared/celebrity_card', celebrity: celebrity %>
      <% end %>
    </div>
</div>
