.bookings_header {
  text-align: center;
}
.new-details-card{
  display: flex;
  border: 1px solid black;
  margin: 30px;
  padding: 10px;
  width: 100vw;
  width: 700px;
}
.card-product .card-product-infos {
  padding: 16px;
}
.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.card-product-img {
  height: 180px;
  width: 180px;
  object-fit: cover;
}

.speak_to_host {
  font-style: initial;
  margin-left: 220px;
}