.card-product {
  overflow: scroll;
  height: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px;
  width: 100vw;
  height: 100vh;
}
.celeb-name-location{
  padding-bottom: 20px;
}
.booking-details-a{
 margin-right: 40px;
}
.booking-details-b{
  margin-top: 10px;
}
.booking-details-card{
  display: flex;
  border: 1px solid white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 30px;
  padding: 10px;
  
}
.card-product .card-product-infos {
  padding: 16px;
}
.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.card-product-img {
  height: 180px;
  width: 180px;
  object-fit: cover;
}