<div class="card" style="width: 18rem;">
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-body">
    <h5 class="card-title"> <%= celebrity.name %> </h5>
    <p class="card-text"> <%= celebrity.description %> </p>
    <a href="<%= celebrity_path(celebrity) %>" class="btn btn-primary">Book</a>
  </div>
</div>
