
  <table class="table table-bordered">
        <tbody>
          <thead>
            <th>Confirmed Bookings</th>
            <th>Requested Bookings</th>
          </thead>

          <% @bookings.each do |booking|%>
            <tr>
              <td>
                <% if current_user == booking.celebrity.user %>
                <%= link_to booking.celebrity.name, booking_path(booking) %>
                <% end %>
              </td>
              <td>
                <% if current_user == booking.celebrity.user%>
                <%= link_to 'Confirm', confirm_path(booking), method: :patch %>
                <% end %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
