<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1501103777042-0aeb4df8ff8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1063&q=80);">
  <div class="container container-text">
    <h1>Rent a celebrity!</h1>
    <p>Use your life savings to spend time<br>with your favorite celebrity!</p>
   <% if user_signed_in? %>
  <%= link_to "Browse", celebrities_path, :class => "btn-lg btn-primary" %>
  
  <% end %>

  </div>
</div>
