<h1><strong>Choose Your Celebrity</strong></h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to 'View Index', celebrities_path %>
<%= link_to 'Add Celebrity', new_celebrity_path %>
<%= link_to 'Bookings', bookings_path %>
