<div class="banner" style="background-image: linear-gradient(rgba(0,0,2,2.4),rgba(0,0,0,0.4)), url(https://junkee.com/wp-content/uploads/2014/06/ellenselfie.jpg);">
  <div class="container">
    <h1>Rent a celebrity <strong>allows</strong> you to rent your very own <strong>celebrity</strong>!</h1>
    <p>Use up your life savings to spend time with your favorite celebrity!</p>
   <% if user_signed_in? %>
  <%= link_to "Browse Celebrities", celebrities_path, :class => "btn btn-primary" %>
  <% end %>

  </div>
</div>
