.button-style {
      width: 50%;
      display: grid;
      padding: .5rem .8rem;
      text-align: center;
      vertical-align: middle;
      margin: auto;
      margin-bottom: 10px;
      cursor: pointer;
      background-color: $c3;
      color: white;
      text-transform: uppercase;
      transition: background-color .4s, color .4s, transform .1s;

      &:hover {
        color: $c2;
        box-shadow: 0 0 24px rgba(black, .2);
        background-color: white;
        border-color: $c1;
        border: 3px solid;
      }
    }

