
//* general text styling and OVERLAY (avatar fade display) //*
.h1-style {
  color: $c2;
  padding: 20px;
  text-align: center;
}

.h5-style {
  color: white;
  padding: 20px;
  text-align: center;
}

.p-style {
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $c1;

  &:hover {
    opacity: 1;
    height: 300px;
    width: 300px;
    padding: 10px;
    border-radius: 50%;
}
}

.container-overlay {
  position: relative;
  width: 50%;
  height: 300px;
  width: 300px;
  padding: 10px;
  border-radius: 50%;
}

.text-overlay {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.avatar-style {
  height: 300px;
  width: 300px;
  padding: 10px;
  border-radius: 50%;
}

//* Card structure //*


.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  background-color: $c2;
  border-radius: 20px;
  padding: 10px;
  margin: auto;
  text-align: center;
}

.description-border {
  border: 1px solid $c2;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


//* responsive design //*
@media(min-width: 767px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
