.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding: 16px;
}

@media(min-width: 767px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
