.footer {
  background-color: #190061; 
  color: white;
}
.footer-links {
  display: flex;
  text-align: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright {
  text-align: center;
}
h6 {
  font-family: "Montserrat", "sans-serif";
  font-size: 1rem;
}
.fa-heart {
  color: red;
}