
.search-structure{
  margin: auto;
  padding: 0;
  display: flex;
  vertical-align: middle;
  text-align: center;
}

.search-style {
      width: 100%;
      padding: .2vw;
      text-align: center;
      vertical-align: middle;
      margin: auto;
      cursor: pointer;
      background-color: $c1;
      color: white;
      text-transform: uppercase;
      transition: background-color .2s, color .2s, transform .1s;
      border-radius: 4px;


      &:hover {
        color: white;
        box-shadow: 0 0 24px rgba(black, .2);
        background-color: $c1;
        border-color: $c2;
        border: 1px solid black;
      }
    }


nav{
  width: 100vw;
  background-color: $c3;
}

.nav-link {
  display: block;
  color: $white;
  padding: 1vw;

  &:hover{
  background-color: $c1;
  color: $white ;
  }
}

ul{
  margin: auto;
  padding: 0;
  display: flex;
}

li{
  list-style-type: none;
  font-size: 2vh;
  margin: auto;
}

button{
  display: none;
}

.logo-style {
  width: 100px;
  height: 80px;
  display:flex
}

.avatar {
  width: 100px;
  height: 100px;
}


@media only screen and (max-width: 500px) {
  ul{
    flex-direction: column;
  }

  li{
    margin: auto;
  }

 .nav-link{
    display: flex;
  }

  .logo-style {
  margin: 0;
}

  button{
    display: block;
    cursor: pointer;
    align-self: flex-start;
  }
}
